/build
/dist
/docs
*.egg*
*.DS_store

.python_packages/

*env*

*__pycache__*
*.py[cod]
*$py.class

/htmlcov
*coverage*
.mypy_cache
.pytest_cache
.ruff_cache

/secrets

.vscode/
.vs/

.ipynb_checkpoints/*

.version.txt
